@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}


/* LAYOUT-------------- -----------------*/
body {
  color: #fff;
  padding: 0;
  background: #111;
  display: flex; 
  flex-direction: column;
  min-height: 100svh;
  font-size: 14px;
  overflow-y: scroll;
}

section{ 
  margin-block: 1rem;
}
nav {
  display: flex;
  /* gap: 0.8rem; */
}
svg {
  display:inline;
  vertical-align: -0.125em;
}


/* CUSTOM COMPONENT -----------------*/
p{
  color: #fff9;
}
h1{
  font-size: 2rem; font-weight: 600; letter-spacing: -0.4px; line-height: 2;
}
h2{
  font-size: 1.8rem; font-weight: 600; letter-spacing: -0.25px; 
}
hr {
  opacity: 0.1;
}
a, button, button[type=submit] {
  display: inline-block;
  padding: 0.45rem 0.9rem;

  border-radius: 0.4rem;
  color: #fff4;

  font-weight: 500;
  font-size: 0.8rem;
  text-decoration: none;

  cursor: pointer;
  flex-shrink: 0;
}
a:hover, button:hover {
  background-color: #fff1;
  color: #fff8
}
a[data-inline]{
  display: inline;
  padding: 0rem;
  &:hover{
    background-color: transparent;
  }
}
button[data-destructive]{
  color: rgb(151, 45, 45);
  &:hover{
    background-color: rgba(151, 45, 45, 0.124)
  }
}

div[data-callout-error] {
  padding: 0.7rem;
  border-radius:4px;
  background-color: #f332;
  margin-bottom: 1rem;
}
div[data-callout-success]{
  padding: 0.7rem;
  border-radius:4px;
  background-color: rgba(51, 255, 102, 0.133);
  margin-block: 1rem;
}

pre{
  /* white-space: unset; */
  white-space-trim: 5;
  background-color: #0003;
  color:#fffa;
  overflow: auto;
  padding: 1rem;
  border-radius: 1rem;
}

/* CONTENT TYPOGRAPHY -----------------*/
/* * + header{
  margin-top:1.5rem;
} */
article header{
  color: #fff6;
  /* font-weight: 600; */
}

/* FORM ---------------------------- */
* + form { margin-block: 1.4rem; }
input + label { margin-top: 0.8rem; }
label {
  display: block; 
  font-size: 1em;
  font-weight: 300;
  opacity: 0.8;
}

label + input { margin-top: 0.2rem; }
input {
  padding: 0.6rem 1rem; display: block; border-radius: 0.3rem; 
  background-color: #2226; 
  width: 100%;
  /* box-shadow: 0px 0px 0px 1px #fff1; */
}
input:focus-visible{
  outline: solid #fff1 3px;
  outline-offset: 2px;
}
/* * + button[type=submit],
* + a[data-primary]
{
  margin-block: 1rem;
} */

button[type=submit], a[data-primary] {
  display: inline-block;
  border-radius: 0.4rem;
  background-color: #fffc;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
  text-decoration: none;
  margin-inline-end: 0.4rem;
}
a:hover, button:hover{
  filter: brightness(0.9)
}
a:active, button:active{
  filter: brightness(0.8)
}

